/* el *  significa una configuracion general */
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

p{
    margin: 0;
}


.conatiner{
    background-color: aliceblue;
    width: 100vw;
    display: flex;/* le comvierte los dos en vorizontal */

}

.vertival{
    align-items: center; /* alinea los iten al centro*/
    display: flex;
    height: 100vh;
    width: 75%;
    /* configuracin del fondo de la imgen*/
    background-image: url(imagenes/inicio.gif);
    background-repeat: no-repeat;
    background-size: cover;

}   

.horizonatal{
    background-color:  #EADDFF;
    height: 100vh;
    display:block;
    align-items:baseline;
    justify-content: center;
    width: 25%;
    padding: 5%;
    
    
}  


img{
    width: 100%;
    padding-top: 24%;
    
}

.Registarse{
    width: 100%;
    padding-top: 25%;
    
}
.Login{
    width: 100%;
    padding-top: 20%;
    
    
}
input{
    width: 100%;
    padding-block: 3%;
    border: 0;
    border-radius: 10px;
}





